<div layout="vertical" layout-fill>
  <!--<md-toolbar layout="row" layout-align="space-around center">-->
  <md-content>
    <header>
      <!-- <acme-navbar creationDate="main.creationDate" /> -->
    </header>

    <section class="jumbotron">
      <div class="techs" layout-align="center">
        <md-card ng-class="device.status" ng-repeat="device in main.devices | orderBy:'device.d.myName'">
          <div class="thumbnail">
            <!--<img class="pull-right" ng-src="assets/images/{{ device.logo }}" alt="{{ device.title }}">-->
            <div class="caption">
              <h3>{{ device.d.myName }} - {{ device.status }}</h3>
              <p>{{ device.info.id || device.d.id }}</p>
              <p>{{ device.d.seconds }} ({{ device.d.subscription }})</p>
              <p>{{ device.info.sensor || device.d.sensor || "?" }}</p>
              <p ng-show="{{device.online}}">esp8266/{{ device.info.id || device.d.id }}/status</p>
              <!--<p>esp8266/{{ device.info.id || device.d.id }}/command</p>                            -->
              <p><a ng-href="{{ device.url }}">{{ device.url }}</a></p>
            </div>
          </div>
        </md-card>
      </div>
    </section>
  </md-content>

</div>